@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");

:root {
  --color-barra-lateral: rgb(255, 255, 255);
  --color-texto: rgb(0, 0, 0);
  --color-texto-menu: rgb(134, 136, 144);
  --color-boton: rgb(0, 0, 0);
  --color-boton-texto: rgb(255, 255, 255);
  --color-menu-hover: rgb(238, 238, 238);
  --color-menu-hover-texto: rgb(0, 0, 0);
  --color-linea: rgb(241, 241, 241);
  --color-switch-base: rgb(201, 202, 206);
  --color-circulo: rgb(241, 241, 241);
  --color-primario: #182218;
  --color-barra-arog: #d9d9d9;
}

.dark-mode {
  --color-barra-lateral: rgb(44, 45, 49);
  --color-texto: rgb(255, 255, 255);
  --color-texto-menu: rgb(110, 110, 117);
  --color-boton: rgb(0, 0, 0);
  --color-boton-texto: rgb(255, 255, 255);
  --color-menu-hover: rgb(255, 255, 255);
  --color-menu-hover-texto: rgb(0, 0, 0);
  --color-linea: rgb(71, 70, 78);
  --color-switch-base: rgb(39, 205, 64);
  --color-circulo: rgb(255, 255, 255);
  --color-primario: #182218;
  --color-barra-arog: #d9d9d9;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--color-primario);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lexend Deca", sans-serif;
}

body {
  height: 100vh;
  width: 100%;
  background-color: rgb(0, 0, 0);
}
header {
  background-color: var(--color-barra-arog);
  height: 10vh;
  display: flex;
  box-shadow: 0px 12px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  display: flex;
  align-items: center;
}

header > .imagen > img {
  width: 4vw;
  margin-left: 20px;
}

header .texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}

header .texto h3 {
  margin: 0;
  padding: 0;
  font-size: 14px;
  margin-top: 20px;
}

header .texto h1 {
  margin: 0;
  font-size: 32px;
  margin-bottom: 15px;
  margin-top: -8px;
}

.arriba {
  height: 2vh;
  background-color: #182218;
}

main {
  flex: 1;
  display: flex;
  height: 88vh;
  width: 100vw;
}

#contenido-principal {
  flex: 1;
  overflow-y: auto;
  background-color: #ccc;
  border-left: solid 10px rgb(24, 34, 24);
  border-top: solid 10px #182218;
}

#contenido-principal .rol {
  display: flex;
  background-color: #182218;
  height: 70px;
  color: #ffffff;
  position: fixed;
  width: 100%;
}

#contenido-principal > .rol > .imgynombre {
  display: flex;
  align-items: center;
  justify-content: center;
}

#contenido-principal > .rol > .imgynombre img {
  height: 40px;
  margin-right: 10px;
}

#contenido-principal > .rol > .admin {
  display: flex;
  justify-content: end;
  width: 75%;
  color: rgb(255, 255, 255);
}

#contenido-principal > .rol > a > h2 {
  display: flex;
}

#contenido-principal > .rol > .admin {
  display: flex;
  justify-content: end;
}

a {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* --------------->boton */
.menu {
  position: fixed;
  width: 50px;
  height: 50px;
  font-size: 30px;
  display: none;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  background-color: var(--color-boton);
  color: var(--color-boton-texto);
  right: 15px;
  top: 15px;
  z-index: 100;
}
/* ------------------->barralateral */
.barra-lateral {
  flex-direction: column;
  display: flex;
  width: 250px;
  height: 100%;
  overflow: hidden;
  padding: 20px 15px;
  background-color: var(--color-barra-lateral);
  transition: width 0.5s ease;
  transition: width 0.5s ease, background-color 0.3s ease, left 0.5s ease;
}

.cerrado-boton {
  display: 0;
}

.mini-barra-lateral {
  width: 80px;
}

.barra-lateral span {
  font-size: 14px;
  opacity: 1;
  white-space: nowrap;
  width: 100px;
  transition: opacity 0.5s ease, width 0.5s ease;
}

.barra-lateral span.oculto {
  opacity: 0;
  width: 0;
}

.barra-lateral .nombre-pagina {
  width: 100%;
  height: 25px;
  display: flex;
  justify-content: end;
  align-items: center;
  margin-bottom: 10px;
  color: var(--color-texto);
}

.barra-lateral .cerrado {
  width: 100%;
  height: 25px;
  display: flex;
  justify-content: end;
  align-items: center;
  margin-bottom: 10px;
  color: var(--color-texto);
}

.barra-lateral .cerrado ion-icon {
  min-width: 50px;
  font-size: 25px;
  cursor: pointer;
}

.barra-lateral .nombre-pagina ion-icon {
  min-width: 50px;
  font-size: 25px;
  cursor: pointer;
}

.barra-lateral .nombre-pagina span {
  font-size: 20px;
  margin-left: 5px;
  opacity: 1;
  transition: opacity 0.01s ease;
}

.barra-lateral .nombre-pagina span.oculto {
  opacity: 0;
}

/* ------------------------------------------>*/

.barra-lateral .navegacion {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.barra-lateral .navegacion::-webkit-scrollbar {
  width: 5px;
}

.barra-lateral .navegacion::-webkit-scrollbar-thumb {
  background-color: var(--color-scrol);
  border-radius: 5px;
}

.barra-lateral .navegacion.navegacion::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-scroll-hover);
}

.barra-lateral .navegacion li {
  list-style: none;
  display: flex;
  margin-bottom: 15px;
}

.barra-lateral .navegacion a {
  width: 100%;
  margin-top: 20px;
  height: 15px;
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 10px;

  color: var(--color-texto-menu);
}

.barra-lateral .navegacion a:hover {
  background-color: var(--color-menu-hover);
  color: var(--color-menu-hover-texto);
  border-radius: 0;
}

.barra-lateral .navegacion ion-icon {
  min-width: 50px;
  font-size: 20px;
}

/* -----------------> Linea */

.barra-lateral .linea {
  width: 100%;
  height: 1px;
  background-color: var(--color-linea);
  margin-top: 15px;
}

/* ---------------> DarkMod */

.barra-lateral .modo-oscuro {
  margin-bottom: 10px;
  width: 100%;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

.barra-lateral .modo-oscuro .info {
  width: 150px;
  height: 45px;
  display: flex;
  align-items: center;
  color: var(--color-texto-menu);
  overflow: hidden;
}

.barra-lateral .modo-oscuro ion-icon {
  width: 50px;
  font-size: 20px;
}

/* ---------------------> switch */
.barra-lateral .modo-oscuro .switch {
  min-width: 50px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.barra-lateral .modo-oscuro .base {
  position: relative;
  width: 35px;
  height: 20px;
  background-color: var(--color-switch-base);
  border-radius: 50px;
  display: flex;
  align-items: center;
}

.barra-lateral .modo-oscuro .circulo {
  position: absolute;
  width: 18px;
  height: 90%;
  background-color: var(--color-circulo);
  border-radius: 50%;
  left: 2px;
  transition: left 0, 5s ease;
}

.barra-lateral .modo-oscuro .circulo.prendido {
  left: 15px;
}

/* ----------------> Usuario */

.barra-lateral .usuario {
  width: 100%;
  display: flex;
  margin-bottom: 10px;
}

.barra-lateral .usuario img {
  width: 10px;
  min-width: 50px;
  border-radius: 10px;
}

.barra-lateral .usuario .info-usuario {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--color-texto);
  overflow: hidden;
}

.barra-lateral .usuario .nombre-email {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}

.barra-lateral .usuario .nombre {
  font-size: 10px;
  font-weight: 600;
}

.barra-lateral .usuario .email {
  font-size: 8px;
}

.barra-lateral .usuario ion-icon {
  font-size: 20px;
}

#Perfil {
  background-color: var(--color-menu-hover);
  color: var(--color-menu-hover-texto);
}

/* --------------------------->responsive */

@media (max-heigth: 660px) {
  .barra-lateral .nombre-pagina {
    margin-bottom: 5px;
  }
  .barra-lateral .modo-oscuro {
    margin-bottom: 3px;
  }
}

@media (max-width: 600px) {
  .barra-lateral {
    position: fixed;
    left: -250px;
  }
  .max-barra-lateral {
    left: 0;
  }
  .menu {
    display: flex;
  }
  .menu ion-icon:nth-child(2) {
    display: none;
  }
  section {
    margin-left: 0;
  }
  section.min-section {
    margin: 0;
  }
}

/* ---------------------------------------> contenido */

#contenido-principal{
height: 87vh;
}
table {
  width: 100%;
  border-collapse: collapse;
  background-color: #757171;
}

td {
  padding:0 5px 0 5px;
}

th {
  text-align: center;
  background-color: #03130a;
  margin: 0;
  padding:10px 25px ;
  color: #d9dfe6;
}

tbody tr:nth-child(even) {
  background-color: #b5b5b5;
}

.table {
  height: 78%;
  width: 100%;
}

.borrar {
  height: 100%;
}

.boton10 {
  background-color: green;
  color: azure;
  border: solid 1px black;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  align-items: center;
  float: left;
}

.boton10:hover {
  background-color: azure;
}

.icono-mas {
  font-size: 20px;

  vertical-align: middle;
}

.boton11 {
  background-color: #ccc;
  color: #333;
  border: solid 1px black;
  padding: 13px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  display: inline-flex;
  align-items: center;
}

.boton11:hover {
  background-color: #bbb;
}

.icono-lapiz {
  font-size: 20px;

  vertical-align: middle;
}

.boton12 {
  background-color: #db2323;
  color: #d4cbcb;
  border: solid 1px black;
  padding: 13px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  display: inline-flex;
  align-items: center;
}

.boton12:hover {
  background-color: #bbb;
}

.icono-eliminar {
  font-size: 20px;

  vertical-align: middle;
}

.boton13 {
  padding: 13px 13px;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s;
  display: inline-flex;
  align-items: center;
  left: 50%;
  transform: -50%, -50%;
}

.boton13:hover {
  background-color: #bbb;
}

.icono-seleccionar {
  font-size: 20px;

  vertical-align: middle;
}

.barra2 {
  background-color: white;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  color: red;
}

input[type="checkbox"]:checked {
  background-color: rgb(28, 28, 32);

  border-color: rgb(193, 203, 211);
}

.busqueda {
  margin-top: 20px;
  border-radius: 3px;
  margin-bottom: 16px;
}

.busqueda form {
  display: flex;
  margin-left: 15px;
}

.busqueda input[type="text"] {
  font-size: 16px;
  padding: 10px;
  border: 2px solid #ddd;
  border-right: none;
  border-radius: 5px;
  border: 1px solid black;
}

.busqueda button {
  padding: 15px;
  background-color: #d9dfe6;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
}

.busqueda button:hover {
  background-color: #0056b3;
}

body {
  font-family: Arial, sans-serif;
}

.filtro {
  display: flex;
  margin-top: 1px;
  left: 10px;
  border-radius: 3px;
  margin-bottom: 1px;
}

.filtro label {
  margin-right: 7px;
  margin-left: 11px;
  display: flex;
  align-items: center;
}

.filtro select {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #111010;
  cursor: pointer;
  display: flex;
}

.boton17{
    text-align: right;
    top: 20%;
    right: 5%;
    transform: translate(-1%, -165%);
    
}

.agregar{
    background-color: #00ff55;
    border: 1px solid black;
    font-size: 25px;
    border-radius: 10px;
    box-shadow: 10% black;

}


.barra3{
    height: 10%;
}

.pagination {
  display: flex;
  list-style: none;
  padding: 0;
}

.page-item {
  margin: 0 5px;
}

.page-link {
  display: block;
  padding: 8px 10px;
  text-decoration: none;
  color: #e9ecf0;
  border: 1px solid #dee2e6;
  border-radius: 30px;
  background-color: rgb(24, 23, 23);
  opacity: 80%;
}

.page-link:hover {
  color: #0056b3;
  background-color: #e9ecef;
  border-color: #dee2e6;
  scale: 1;
}

.paginacion {
  display: grid;
  place-content: left;
  max-height: 300vh;
  background-color: rgb(109, 109, 109);
  border: 1px solid black;
}

